/* Container geral */
.app-container {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* Sidebar (menu lateral) */
.sidebar {
  width: 220px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h3 {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  display: block;
  padding: 8px;
  border-radius: 4px;
  transition: background 0.3s;
}

.sidebar a:hover {
  background-color: #34495e;
}

/* Conteúdo principal */
.main-content {
  flex-grow: 1;
  padding: 40px;
  background-color: #ecf0f1;
}

/* Formulário */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

form h2 {
  text-align: center;
}

form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

form input,
form select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

form button:hover {
  background-color: #45a049;
}

.home-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.logo {
  width: 200px;
  max-width: 40%;
  height: auto;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .logo {
    width: 150px; 
    max-width: 60%;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 120px; 
    max-width: 80%;
  }
}
